numpy==1.26.4
packaging==24.1
pandas==2.2.2
plotly==5.23.0
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
TA-Lib==0.4.32
technical==1.4.4
tenacity==9.0.0
tzdata==2024.1
tqdm==4.66.5